streamlit
spacy==3.6.0
thinc==8.1.10
language-tool-python
bcrypt
xhtml2pdf
streamlit-quill
beautifulsoup4
sendgrid

es-core-news-md @ https://github.com/explosion/spacy-models/releases/download/es_core_news_md-3.6.0/es_core_news_md-3.6.0-py3-none-any.whl
